# Кодировка
AddDefaultCharset UTF-8

# Главная страница
DirectoryIndex index.html

# Ошибка 404
ErrorDocument 404 /404.html

# Защита конфигов
<FilesMatch "^(config\.php|config\.sample\.php|\.htaccess|.*\.md)$">
  <IfModule mod_authz_core.c>
    Require all denied
  </IfModule>
  <IfModule !mod_authz_core.c>
    Order deny,allow
    Deny from all
  </IfModule>
</FilesMatch>

# Сжатие gzip
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/javascript application/json image/svg+xml
</IfModule>
